header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 80px 80px;
}

.about-container {
  width: 40vw;
  align-self: baseline;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.name {
  font-size: 4em;
  margin: 8px;
}

@media (max-width: 500px) {
  header {
    flex-direction: column;
    align-items: center;
    padding: 8px;
  }
  .profile-picture > * {
    width: 70vw;
  }
  .name {
    font-size: 3em;
    text-align: center;
    text-decoration-line: underline;
    margin: 0;
  }
  .about-container {
    justify-items: center;
    text-align: left;
    align-self: center;
    width: 70vw;
  }
}

@media (min-width: 1000px) {
  .about-container {
    width: 400px;
  }
}