header {
  display: flex;
  align-items: center;
  gap: 10px;
  /* height: 200px; */
  padding: 40px 80px;
  /* overflow: hidden; */
}

@media (max-width: 499px) {
  header {
    flex-direction: column;
    padding: 20px 40px;
    /* height: auto; */
  }
}

.about-container {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.about-container > p {
  margin: 0;
}

.profile-picture-container {
  /* max-width: 100%; */
  /* aspect-ratio: 1/1; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture-container > img {
  object-fit: cover;
}

@media (max-width: 599px) {
  .profile-picture-container {
    /* width: 60%; */
  }
}