.skills-section {
  background-color: red;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 40px 80px;
}

.skill-container {
  display: flex;
  flex-direction: column;
}

.skill-img {
  height: 40px;
}

.skill-description {
  text-align: center;
  font-size: 10px;
  font-weight: 600;
}